:root {
  /*colors*/
  --color-link: #3f65e3;
  --bg-form: #fff;

  /*sizes*/
  --size-5: 0.3125rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-320: 20rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ul-defaults-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
  background: transparent;
}

button,
input[type="submit"] {
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  display: inline-flex;
  border: none;
  background: transparent;
}

button.btn-primary,
input.btn-primary {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: var(--size-12) var(--size-20);
  border-radius: var(--size-12);
  font-size: var(--size-20);
}

.input-primary {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  margin-bottom: var(--size-8);
}
