.portfolio-section {
  padding: 1rem;
}

.portfolio-section .portfolio-header {
  display: flex;
  gap: var(--size-20);
}

.search-container label,
.portfolio-section .portfolio-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  border-radius: 30px;
  padding: 0.9rem 2rem 0.9rem 1rem;
  width: 120px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.search-container label i {
  position: relative;
  left: -15%;
}

.portfolio-section .portfolio-grid {
  --box-size: 255px;
  padding-top: var(--size-20);
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-8);
}

.portfolio-section .portfolio-grid.carousel {
  height: var(--box-size);
  position: relative;
  padding: var(--size-50) 0 var(--size-100);
  justify-content: center;
}

.portfolio-card {
  width: var(--box-size);
  height: var(--box-size);
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-grid.carousel .portfolio-card {
  --opacity: 0;
  --translate-x: 0;
  --translate-y: 0;
  transform: translate(var(--translate-x), var(--translate-y));
  opacity: var(--opacity);
  position: absolute;
}

.portfolio-grid.carousel .portfolio-card.active {
  --opacity: 1;
}

.portfolio-grid.carousel .portfolio-card.next,
.portfolio-grid.carousel .portfolio-card.prev {
  --opacity: 0.5;
}
.portfolio-grid.carousel .portfolio-card.prev {
  --translate-x: -105%;
  --translate-y: 10%;
}

.portfolio-grid.carousel .portfolio-card.next {
  --translate-x: 105%;
  --translate-y: 10%;
}

.portfolio-card .card-body img {
  width: 100%;
  height: var(--box-size);
  object-fit: cover;
}

.portfolio-card .popup-box {
  --transition-spd: 0.4s;
  --opacity: 0;
  --visibility: 0;
  --translate-y: 30%;
  transform: translateY(var(--translate-y));
  opacity: var(--opacity);
  visibility: var(--visibility);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: all var(--transition-spd) ease-in-out;
  text-align: center;
  padding: var(--size-12);
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

.portfolio-card:hover .popup-box {
  --translate-y: -20%;
  --opacity: 1;
  --visibility: visible;
}

.portfolio-card .popup-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}

.popup-box .popup-header {
  font-size: var(--size-16);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.popup-box .popup-header,
.popup-box .popup-content {
  margin: 0;
}

.carousel-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-50);
}

.carousel-btns button:hover {
  cursor: pointer;
}
.carousel-btns button:hover {
  color: #fff;
  background-color: #000;
}

.carousel-btns button:active {
  color: #000;
  background-color: #fff;
}
